USE [master]
GO
/****** Object:  Database [tkdscore]    Script Date: 15/07/2026 20:36:49 ******/
CREATE DATABASE [tkdscore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tkdscore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\tkdscore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tkdscore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\tkdscore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tkdscore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tkdscore]
GO
/****** Object:  Table [dbo].[arbitro]    Script Date: 15/07/2026 20:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[arbitro](
	[id_arbitro] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[credencial] [varchar](30) NOT NULL,
	[nivel_certificacion] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_arbitro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[atleta]    Script Date: 15/07/2026 20:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[atleta](
	[id_atleta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[pais] [varchar](60) NULL,
	[categoria_peso] [varchar](30) NULL,
	[cinturon] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_atleta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[combate]    Script Date: 15/07/2026 20:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[combate](
	[id_combate] [int] IDENTITY(1,1) NOT NULL,
	[id_atleta_azul] [int] NOT NULL,
	[id_atleta_rojo] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[estado_actual] [varchar](30) NULL,
	[ronda_actual] [int] NULL,
	[id_ganador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_combate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[penalizacion]    Script Date: 15/07/2026 20:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[penalizacion](
	[id_penal] [int] IDENTITY(1,1) NOT NULL,
	[id_combate] [int] NOT NULL,
	[id_atleta] [int] NOT NULL,
	[motivo] [varchar](100) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_penal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[punto]    Script Date: 15/07/2026 20:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[punto](
	[id_punto] [int] IDENTITY(1,1) NOT NULL,
	[id_combate] [int] NOT NULL,
	[id_arbitro] [int] NOT NULL,
	[tipo_tecnica] [varchar](30) NOT NULL,
	[puntos_base] [int] NOT NULL,
	[bonificacion] [int] NULL,
	[atleta_anotador] [varchar](10) NOT NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_punto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[revision_ivr]    Script Date: 15/07/2026 20:36:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[revision_ivr](
	[id_revision] [int] IDENTITY(1,1) NOT NULL,
	[id_combate] [int] NOT NULL,
	[id_punto] [int] NOT NULL,
	[resultado] [varchar](20) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_revision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[combate] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[combate] ADD  DEFAULT ('RONDA_1') FOR [estado_actual]
GO
ALTER TABLE [dbo].[combate] ADD  DEFAULT ((1)) FOR [ronda_actual]
GO
ALTER TABLE [dbo].[penalizacion] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[punto] ADD  DEFAULT ((0)) FOR [bonificacion]
GO
ALTER TABLE [dbo].[punto] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[revision_ivr] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[combate]  WITH CHECK ADD FOREIGN KEY([id_atleta_azul])
REFERENCES [dbo].[atleta] ([id_atleta])
GO
ALTER TABLE [dbo].[combate]  WITH CHECK ADD FOREIGN KEY([id_atleta_rojo])
REFERENCES [dbo].[atleta] ([id_atleta])
GO
ALTER TABLE [dbo].[combate]  WITH CHECK ADD  CONSTRAINT [FK_combate_ganador] FOREIGN KEY([id_ganador])
REFERENCES [dbo].[atleta] ([id_atleta])
GO
ALTER TABLE [dbo].[combate] CHECK CONSTRAINT [FK_combate_ganador]
GO
ALTER TABLE [dbo].[penalizacion]  WITH CHECK ADD FOREIGN KEY([id_atleta])
REFERENCES [dbo].[atleta] ([id_atleta])
GO
ALTER TABLE [dbo].[penalizacion]  WITH CHECK ADD FOREIGN KEY([id_combate])
REFERENCES [dbo].[combate] ([id_combate])
GO
ALTER TABLE [dbo].[punto]  WITH CHECK ADD FOREIGN KEY([id_arbitro])
REFERENCES [dbo].[arbitro] ([id_arbitro])
GO
ALTER TABLE [dbo].[punto]  WITH CHECK ADD FOREIGN KEY([id_combate])
REFERENCES [dbo].[combate] ([id_combate])
GO
ALTER TABLE [dbo].[revision_ivr]  WITH CHECK ADD FOREIGN KEY([id_combate])
REFERENCES [dbo].[combate] ([id_combate])
GO
ALTER TABLE [dbo].[revision_ivr]  WITH CHECK ADD FOREIGN KEY([id_punto])
REFERENCES [dbo].[punto] ([id_punto])
GO
USE [master]
GO
